@charset "utf-8";
/*! Writen  by SCSS */
@import "mixin";

$cl40: clamp(30px,cal_per(1200,40),40px);
$cl50: clamp(30px,cal_per(1200,50),50px);
$cl60: clamp(40px,cal_per(1200,60),60px);
$cl80: clamp(50px,cal_per(1200,80),80px);
$cl100: clamp(60px,cal_per(1200,100),100px);
$cl120: clamp(80px,cal_per(1200,120),120px);



.sec01{
	padding-bottom: $cl100;
}
.cap_l{
	margin-top: 5px;
}

.col_4_wrap{
	.item_col_3{
		grid-column: span 3;
		@include mq($br_sp){
			grid-column: span 2;
		}
	}
}

.item:not(.flex){
	.text_box{
		margin-top: 13px;
		@include mq($br_sp){
			margin-top: 10px;
		}
		.sec02_wrap &{
			margin-top: 0;
			margin-bottom: 13px;
			@include mq($br_sp){
				margin-bottom: 10px;
			}
		}
	}
}

.bg_head{
	font-size: clamp(13px,fz_vw(1240,15),16px);
	color: #fff;
	padding: 0.5em 1em;
	line-height: 1.2;
	background: #b09c53;
}

.sec01_wrap{
	.item01{
		@include mq($br_sp){
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			.item_image{
				width: 48%;
			}
			.text_box{
				margin-top: 0;
				width: 48%;
			}
		}
	}
	.sec01_flex_item{
		align-items: flex-start;
		.text_box{
			width: cal_per(580,270);
		}
		.item_image{
			@include w_per(580,270);
		}
	}
	.item_grid{
		display: grid;
		align-items: start;
		align-content: start;
		grid-template-columns: repeat(2,1fr);
		gap: 0 flr_per(580,40);
		.text_box{
			margin-top: 0;
		}
		.bottom_wrap,
		.cap_l{
			grid-column: span 2;
		}
		.bottom_wrap{
			margin-top: 15px;
			.bottom_list{
				font-size: clamp(11px,fz_vw(1240,13),14px);
				line-height: 1.2;
				padding: 15px;
				display: grid;
				background: #f3f3f6;
				grid-template-columns: repeat(2,1fr);
				gap: 0.2em cal_per(550,70);
				color: #333;
				@include mq($br_sp){
					padding: 10px;
					gap: 0.4em 2%;
				}
				.item{
					padding-left: 1em;
					text-indent: -1em;
				}
			}
		}
	}
	.item07{
		align-items: flex-start;
		@include mq($br_sp){
			display: block;
		}
		.text_box{
			width: cal_per(890,290);
			@include mq($br_sp){
				width: 100%;
				margin-bottom: 15px;
			}
		}
		.item_image{
			@include w_per(890,580);
			@include mq($br_sp){
				width: 100%;
			}
		}
	}
}

















